<!-- views/partials/footer.ejs -->
<footer class="footer">
  <div class="footer-inner">
    <div class="footer-brand">TamanMedan || Desain By Jeki </div>
    <p>Platform informasi taman kota Medan untuk warga</p>
    <div class="footer-links">
      <a href="/">Beranda</a>
      <a href="/peta">Peta</a>
      <a href="/taman">Taman</a>
      <a href="/about">Tentang</a>
    </div>
    <p class="footer-copy">© 2026 TamanMedan · Desain BY . Jeki Herianto Barutu</p>
  </div>
</footer>
